<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/miembros/ivory.jpg" />
    <ion-card-header>
      <ion-card-title>Ivory Naomy Adames</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2019-8251</p>
      <p>20198251@itla.edu.do</p>
      <ion-button color="warning" shape="round" (click)="ivory()" class="numero">+1 (849) 883-9320</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/miembros/manuel.png" />
    <ion-card-header>
      <ion-card-title>Manuel Custodio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2020-10949</p>
      <p>202010949@itla.edu.do</p>
      <ion-button color="warning" shape="round" (click)="manuel()" class="numero">+1 (849) 633-6266</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/miembros/adrian.png" />
    <ion-card-header>
      <ion-card-title>Adrian Mota</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2021-0444</p>
      <p>20210444@itla.edu.do</p>
      <ion-button color="warning" shape="round" (click)="adrian()" class="numero">+1 (809) 488-3250</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
